@import "layouts/index-layout";
@import "config/global";
@import "compass";
@import "config/mixins";

.main{
  nav {
    height: $headerHeight-50;
    font-weight: bold;
    li{
      height: $headerHeight-50;
      line-height: $headerHeight-50;
      text-align: center;
      background-color: #f9f9f9;
      font-size: 14 * $onePx;
      cursor: pointer;
      color: #999999;
    }
    li.nav-active {
      color: #5b8de4;
      border-bottom-color: #5b8de4;
      border-bottom-width: 6 * $onePx;
      border-bottom-style: solid;
    }
  }
  pre{
    height: 350 * $onePx;
    padding: 50 * $onePx 0;
  }
}