@import "../config/grids";
@import "../variables";

.main {
  @include container;

  nav {
    li {
      @include span(1/4 * 100% no-gutter border-box);
    }
  }

  .footer{
    @include full;
    div:nth-child(1){
      @include span(1 at 1 of 5);
    }
    div:nth-child(1){
      @include span(2 at 1 of 5);
    }
    div:nth-child(1){
      @include span(3 at 1 of 5);
    }
    div:nth-child(1){
      @include span(4 at 1 of 5);
    }
    div:nth-child(1){
      @include span(last 1 at 1 of 5);
    }
  }
}