<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, maximum-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
	<title>two-way-bind.html</title>
	<link rel="shortcut icon" href="../../assets/img/favicon.ico"/>
</head>
<body>
<div id="app">
	<my-component></my-component>
</div>
<!-- Javascript start -->
<script src="../../../vendor/vue/dist/vue.js"></script>
<!-- <script src="../app/two-way-bind.js"></script> -->
<script type="text/x-template" id="parent">
	<div>
		<h1>I'm the parent title</h1>
		<child>
			<p>This is some original content.</p>
			<p>This is some more original content.</p>
		</child>
	</div>
</script>

<script type="text/x-template" id="children">
	<div>
		<h2>I'm the child title</h2>
		<slot>
			no more than content
		</slot>
	</div>
</script>

<script>
	var Child = Vue.extend({
		template: '#children'
	});

	var Parent = Vue.extend({
		template: '#parent',
		components: {
			'child': Child
		}
	});

	var app = new Vue({
		el: '#app',
		components: {
			'my-component': Parent
		}
	});
</script>
<!-- Javascript end -->
</body>
</html>